In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
train_transaction = pd.read_csv("/Users/nilanjansahu/Downloads/Machine_Learning/Card_Fraud_Detection/ieee-fraud-detection/train_transaction.csv")
train_identity = pd.read_csv("/Users/nilanjansahu/Downloads/Machine_Learning/Card_Fraud_Detection/ieee-fraud-detection/train_identity.csv")
test_transaction = pd.read_csv("/Users/nilanjansahu/Downloads/Machine_Learning/Card_Fraud_Detection/ieee-fraud-detection/test_transaction.csv")
test_identity = pd.read_csv("/Users/nilanjansahu/Downloads/Machine_Learning/Card_Fraud_Detection/ieee-fraud-detection/test_identity.csv")

In [3]:
train_transaction.head()

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2987002,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2987003,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2987004,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
train_identity.head()

,TransactionID,id_01,id_02,id_03,id_04,id_05,id_06,id_07,id_08,id_09,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,2987004,0.0,70787.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M
1,2987008,-5.0,98945.0,NaN,NaN,0.0,-5.0,NaN,NaN,NaN,...,mobile safari 11.0,32.0,1334x750,match_status:1,T,F,F,T,mobile,iOS Device
2,2987010,-5.0,191631.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,Windows
3,2987011,-5.0,221832.0,NaN,NaN,0.0,-6.0,NaN,NaN,NaN,...,chrome 62.0,NaN,NaN,NaN,F,F,T,T,desktop,NaN
4,2987016,0.0,7460.0,0.0,0.0,1.0,0.0,NaN,NaN,0.0,...,chrome 62.0,24.0,1280x800,match_status:2,T,F,T,T,desktop,MacOS

In [5]:
print(train_transaction.describe())

       TransactionID        isFraud  TransactionDT  TransactionAmt  \
count   5.905400e+05  590540.000000   5.905400e+05   590540.000000
mean    3.282270e+06       0.034990   7.372311e+06      135.027176
std     1.704744e+05       0.183755   4.617224e+06      239.162522
min     2.987000e+06       0.000000   8.640000e+04        0.251000
25%     3.134635e+06       0.000000   3.027058e+06       43.321000
50%     3.282270e+06       0.000000   7.306528e+06       68.769000
75%     3.429904e+06       0.000000   1.124662e+07      125.000000
max     3.577539e+06       1.000000   1.581113e+07    31937.391000

               card1          card2          card3          card5  \
count  590540.000000  581607.000000  588975.000000  586281.000000
mean     9898.734658     362.555488     153.194925     199.278897
std      4901.170153     157.793246      11.336444      41.244453
min      1000.000000     100.000000     100.000000     100.000000
25%      6019.000000     214.000000     150.000000     166.000000
50%      9678.000000     361.000000     150.000000     226.000000
75%     14184.000000     512.000000     150.000000     226.000000
max     18396.000000     600.000000     231.000000     237.000000

               addr1          addr2      ...                V330  \
count  524834.000000  524834.000000      ...        82351.000000
mean      290.733794      86.800630      ...            0.775874
std       101.741072       2.690623      ...            4.727971
min       100.000000      10.000000      ...            0.000000
25%       204.000000      87.000000      ...            0.000000
50%       299.000000      87.000000      ...            0.000000
75%       330.000000      87.000000      ...            0.000000
max       540.000000     102.000000      ...           55.000000

                V331           V332           V333          V334         V335  \
count   82351.000000   82351.000000   82351.000000  82351.000000  82351.00000
mean      721.741883    1375.783644    1014.622782      9.807015     59.16455
std      6217.223583   11169.275702    7955.735482    243.861391    387.62948
min         0.000000       0.000000       0.000000      0.000000      0.00000
25%         0.000000       0.000000       0.000000      0.000000      0.00000
50%         0.000000       0.000000       0.000000      0.000000      0.00000
75%         0.000000      25.000000       0.000000      0.000000      0.00000
max    160000.000000  160000.000000  160000.000000  55125.000000  55125.00000

               V336           V337           V338           V339
count  82351.000000   82351.000000   82351.000000   82351.000000
mean      28.530903      55.352422     151.160542     100.700882
std      274.576920     668.486833    1095.034387     814.946722
min        0.000000       0.000000       0.000000       0.000000
25%        0.000000       0.000000       0.000000       0.000000
50%        0.000000       0.000000       0.000000       0.000000
75%        0.000000       0.000000       0.000000       0.000000
max    55125.000000  104060.000000  104060.000000  104060.000000

[8 rows x 380 columns]

In [6]:
train_identity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144233 entries, 0 to 144232
Data columns (total 41 columns):
TransactionID    144233 non-null int64
id_01            144233 non-null float64
id_02            140872 non-null float64
id_03            66324 non-null float64
id_04            66324 non-null float64
id_05            136865 non-null float64
id_06            136865 non-null float64
id_07            5155 non-null float64
id_08            5155 non-null float64
id_09            74926 non-null float64
id_10            74926 non-null float64
id_11            140978 non-null float64
id_12            144233 non-null object
id_13            127320 non-null float64
id_14            80044 non-null float64
id_15            140985 non-null object
id_16            129340 non-null object
id_17            139369 non-null float64
id_18            45113 non-null float64
id_19            139318 non-null float64
id_20            139261 non-null float64
id_21            5159 non-null float64
id_22            5169 non-null float64
id_23            5169 non-null object
id_24            4747 non-null float64
id_25            5132 non-null float64
id_26            5163 non-null float64
id_27            5169 non-null object
id_28            140978 non-null object
id_29            140978 non-null object
id_30            77565 non-null object
id_31            140282 non-null object
id_32            77586 non-null float64
id_33            73289 non-null object
id_34            77805 non-null object
id_35            140985 non-null object
id_36            140985 non-null object
id_37            140985 non-null object
id_38            140985 non-null object
DeviceType       140810 non-null object
DeviceInfo       118666 non-null object
dtypes: float64(23), int64(1), object(17)
memory usage: 45.1+ MB

In [7]:
train_transaction.shape

(590540, 394)

In [8]:
train_identity.shape

(144233, 41)

In [9]:
test_transaction.shape

(506691, 393)

In [10]:
test_identity.shape

(141907, 41)

In [11]:
def remove_empty_cols(df):
    columns = df.columns
    for col in columns:
        null_values = 0.0
        null_values = (df[col].isnull().sum()/df.shape[0])*100
        if null_values > 20.0:
            df.drop([col], axis=1, inplace = True)
    return df

In [12]:
#train = remove_empty_cols(train_transaction)
#train_i = remove_empty_cols(train_identity)

In [13]:
#print(train_t.shape)
#print(train_i.shape)

In [14]:
#columns = test_transaction.columns

#for col in columns:
#    null_values = 0.0
#    null_values = (test_transaction[col].isnull().sum()/test_transaction.shape[0])*100
#    if null_values > 30.0:
#        test_transaction.drop([col], axis=1, inplace = True)

In [15]:
def reduce_mem_usage2(df):
    """ iterate through all the columns of a dataframe and modify the data type
        to reduce memory usage.        
    """
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
    
    for col in df.columns:
        col_type = df[col].dtype
        
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        else:
            df[col] = df[col].astype('category')

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df

In [16]:
train_identity = reduce_mem_usage2(train_identity)
train_transaction = reduce_mem_usage2(train_transaction)
test_transaction = reduce_mem_usage2(test_transaction)
test_identity = reduce_mem_usage2(test_identity)

Memory usage of dataframe is 45.12 MB
Memory usage after optimization is: 10.02 MB
Decreased by 77.8%
Memory usage of dataframe is 1775.15 MB
Memory usage after optimization is: 487.16 MB
Decreased by 72.6%
Memory usage of dataframe is 1519.24 MB
Memory usage after optimization is: 425.24 MB
Decreased by 72.0%
Memory usage of dataframe is 44.39 MB
Memory usage after optimization is: 9.86 MB
Decreased by 77.8%

In [17]:
train = pd.merge(train_transaction,train_identity,how='outer',on="TransactionID")
test = pd.merge(test_transaction,test_identity,how='outer',on="TransactionID")

In [18]:
train_copy = train.copy()

In [19]:
from collections import Counter
counter = Counter(train['isFraud'])
Fraud = counter[1]
Not_fraud = counter[0]
print('No. of fraud cases %d', Fraud)
print('No. of non-fraud cases %d', Not_fraud)
percentage = (Fraud/(Fraud+Not_fraud))*100
print('percentage of fraud cases %f', percentage)

No. of fraud cases %d 20663
No. of non-fraud cases %d 569877
percentage of fraud cases %f 3.4990009144173126

In [20]:
Fraud_list = train['isFraud']
train = train.drop(['isFraud'], axis=1)

In [21]:
train['ProductCD'] = train['ProductCD'].astype(str)
train['ProductCD'].fillna("No Type",inplace=True)
product_type=[]
for i in range(len(train['ProductCD'])):
    if(train.loc[i,'ProductCD'] not in product_type):
        product_type.append(train.loc[i,'ProductCD'])
print(product_type)

['W', 'H', 'C', 'S', 'R']

In [22]:
train['ProductCD']=train['ProductCD'].map({'W':1,'H':2,'C':3,'S':4,'R':5})

In [23]:
train['card1'].fillna(-999,inplace=True)
train['card2'].fillna(-999,inplace=True)
train['card3'].fillna(-999,inplace=True)
train['card5'].fillna(-999,inplace=True)

In [24]:
train['card4'] = train['card4'].astype(str)
train['card4'].replace('nan', np.nan, inplace=True)
train['card4'].fillna("No Card", inplace=True)
types_of_card=[]
for i in range(len(train['card4'])):
    if(train.loc[i,'card4'] not in types_of_card):
        types_of_card.append(train.loc[i,'card4'])
train['card4']=train['card4'].map({'discover':1,'mastercard':2,'visa':3,'american express':4,'No Card':-999})

In [25]:
train['card6'] = train['card6'].astype(str)
train['card6'].replace('nan', np.nan, inplace=True)
train['card6'].fillna("No Card",inplace=True)
card_types=[]
for i in range(len(train['card6'])):
    if(train.loc[i,'card6'] not in card_types):
        card_types.append(train.loc[i,'card6'])

card_types

['credit', 'debit', 'No Card', 'debit or credit', 'charge card']

In [26]:
train['card6']=train['card6'].map({'credit':1,'debit':2,'No Card':-999,'debit or credit':3,'charge card':4})

In [27]:
train['addr1'].fillna(-999,inplace=True)
train['addr2'].fillna(-999,inplace=True)
train['dist1'].fillna(-999,inplace=True)
train['dist2'].fillna(-999,inplace=True)

In [28]:
from sklearn.preprocessing import Imputer
imp = Imputer(missing_values='NaN', strategy = 'most_frequent', axis=0)
imp = imp.fit(train.loc[:,'C1':'C4'])
train.loc[:,'C1':'C4'] = imp.transform(train.loc[:,'C1':'C4'])

In [29]:
imp=Imputer(missing_values='NaN',strategy='most_frequent',axis=0)
imp=imp.fit(train.loc[:,'D1':'D15'])
train.loc[:,'D1':'D15']=imp.transform(train.loc[:,'D1':'D15'])

In [30]:
train['M1'] = train_copy['M1']
train['M2'] = train_copy['M2']
train['M3'] = train_copy['M3']
train['M5'] = train_copy['M5']
train['M6'] = train_copy['M6']
train['M7'] = train_copy['M7']
train['M8'] = train_copy['M8']
train['M9'] = train_copy['M9']

In [31]:
train['M1'].isnull().sum()

271100

In [32]:
train['M1'] = train['M1'].astype(str)
train['M1'].replace('nan', np.nan, inplace=True)
train['M1'].fillna("No Type",inplace=True)
train['M2'] = train['M2'].astype(str)
train['M2'].replace('nan', np.nan, inplace=True)
train['M2'].fillna("No Type",inplace=True)
train['M3'] = train['M3'].astype(str)
train['M3'].replace('nan', np.nan, inplace=True)
train['M3'].fillna("No Type",inplace=True)

In [33]:
train['M2'].value_counts()

T          285468
No Type    271100
F           33972
Name: M2, dtype: int64

In [34]:
train['M5'] = train['M5'].astype(str)
train['M5'].replace('nan', np.nan, inplace=True)
train['M5'].fillna("No Type",inplace=True)
train['M6'] = train['M6'].astype(str)
train['M6'].replace('nan', np.nan, inplace=True)
train['M6'].fillna("No Type",inplace=True)
train['M7'] = train['M7'].astype(str)
train['M7'].replace('nan', np.nan, inplace=True)
train['M7'].fillna("No Type",inplace=True)
train['M8'] = train['M8'].astype(str)
train['M8'].replace('nan', np.nan, inplace=True)
train['M8'].fillna("No Type",inplace=True)
train['M9'] = train['M9'].astype(str)
train['M9'].replace('nan', np.nan, inplace=True)
train['M9'].fillna("No Type",inplace=True)

In [35]:
train['M1']=train['M1'].map({'T':1,'F':0,'No Type':-999})
train['M2']=train['M2'].map({'T':1,'F':0,'No Type':-999})
train['M3']=train['M3'].map({'T':1,'F':0,'No Type':-999})
train['M5']=train['M5'].map({'T':1,'F':0,'No Type':-999})
train['M6']=train['M6'].map({'T':1,'F':0,'No Type':-999})
train['M7']=train['M7'].map({'T':1,'F':0,'No Type':-999})
train['M8']=train['M8'].map({'T':1,'F':0,'No Type':-999})
train['M9']=train['M9'].map({'T':1,'F':0,'No Type':-999})

In [36]:
imp = Imputer(missing_values = 'NaN', strategy = 'most_frequent', axis = 0)
train['P_emaildomain'] = train['P_emaildomain'].astype(str)
train['R_emaildomain'] = train['R_emaildomain'].astype(str)
train['P_emaildomain'].replace('nan', np.nan, inplace=True)
train['R_emaildomain'].replace('nan', np.nan, inplace=True)
train['P_emaildomain'].fillna('no_mail', inplace=True)
train['R_emaildomain'].fillna('no_mail', inplace=True)

In [37]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train.loc[:,'P_emaildomain'] = le.fit_transform(train.loc[:,'P_emaildomain'])

In [38]:
le = LabelEncoder()
train.loc[:,'R_emaildomain'] = le.fit_transform(train.loc[:,'R_emaildomain'])

In [39]:
train['M4'] = train['M4'].astype(str)
train['M4'].replace('nan', np.nan, inplace=True)
train['M4'].fillna("No Type",inplace=True)
M4_list=[]
for i in range(len(train['M4'])):
    if(train.loc[i,'M4'] not in M4_list):
        M4_list.append(train.loc[i,'M4'])
M4_list

['M2', 'M0', 'No Type', 'M1']

In [40]:
train['M4']=train['M4'].map({'M0':0,'M1':1,'M2':2,'No Type':-999})

In [41]:
for i in range(1,340):
    train[str('V'+str(i))].replace('nan', np.nan, inplace=True)

In [42]:
imp=Imputer(missing_values='NaN',strategy='most_frequent',axis=0)
imp=imp.fit(train.loc[:,'V1':'V339'])
train.loc[:,'V1':'V339']=imp.transform(train.loc[:,'V1':'V339'])

In [43]:
train.drop(['id_01','id_02','id_03','id_04','id_05','id_06','id_07','id_08','id_09','id_10','id_11','DeviceInfo'], inplace=True, axis=1)

In [44]:
train['id_12'] = train['id_12'].astype(str)
train['id_12'].replace('nan', np.nan, inplace=True)
train['id_12'].fillna("None",inplace=True)
print(train['id_12'].value_counts(normalize=True,dropna=False)*100)

None        75.576083
NotFound    20.832628
Found        3.591289
Name: id_12, dtype: float64

In [45]:
train['id_12'] = train['id_12'].map({'Found' :1, 'NotFound': 0, 'None': -999})

In [46]:
train['id_13'].fillna(-999,inplace=True)
train['id_14'].fillna(-999,inplace=True)

In [47]:
train['id_15'] = train['id_15'].astype(str)
train['id_15'].replace('nan', np.nan, inplace = True)
train['id_15'].fillna('None', inplace = True)
print(train['id_15'].value_counts(normalize=True,dropna=False)*100)

None       76.126088
Found      11.468825
New        10.433163
Unknown     1.971924
Name: id_15, dtype: float64

In [48]:
train['id_15'] = train['id_15'].map({'Unknown':0, 'New':2, 'Found':1,'None':-999})

In [49]:
train['id_16'] = train['id_16'].astype(str)
train['id_16'].replace('nan', np.nan, inplace = True)
train['id_16'].fillna('None', inplace = True)
print(train['id_16'].value_counts(normalize=True,dropna=False)*100)

None        78.098012
Found       11.231077
NotFound    10.670911
Name: id_16, dtype: float64

In [50]:
train['id_16'] = train['id_16'].map({'Found':1, 'NotFound':0 ,'None':-999})

In [51]:
train['id_17'].fillna(-999,inplace=True)
train['id_18'].fillna(-999,inplace=True)
train['id_19'].fillna(-999,inplace=True)
train['id_20'].fillna(-999,inplace=True)

In [52]:
train.drop(['id_21','id_22','id_23','id_24','id_25','id_26','id_27'], inplace=True, axis=1)

In [53]:
train.drop(['id_28'],inplace=True, axis=1)

In [54]:
train['id_29'] = train['id_29'].astype(str)
train['id_29'].replace('nan', np.nan, inplace=True)
train['id_29'].fillna("None",inplace=True)
print(train['id_29'].value_counts(normalize=True,dropna=False)*100)

None        76.127273
Found       12.687710
NotFound    11.185017
Name: id_29, dtype: float64

In [55]:
train['id_29'] = train['id_29'].map({'Found':1, 'NotFound':0,'None':-999})

In [56]:
#print(train['id_30'].value_counts(normalize=True,dropna=False)*100)
train['id_30'] = train['id_30'].astype(str)
train['id_30'].replace('nan', np.nan, inplace=True)
train['id_30'].fillna("None",inplace=True)
print(train['id_30'].value_counts(normalize=True,dropna=False)*100)

None                86.865411
Windows 10           3.582314
Windows 7            2.220002
iOS 11.2.1           0.630271
iOS 11.1.2           0.626376
Android 7.0          0.486165
Mac OS X 10_12_6     0.433332
Mac OS X 10_11_6     0.397602
iOS 11.3.0           0.341382
Windows 8.1          0.324110
Mac OS X 10_10_5     0.279575
iOS 11.2.6           0.278897
iOS 10.3.3           0.263826
Mac OS X 10_13_2     0.240627
Mac OS X 10_13_1     0.205067
iOS 11.2.5           0.203204
Linux                0.192366
Android              0.182714
iOS 11.2.2           0.152742
Mac OS X 10_13_3     0.145629
iOS 11.2.0           0.144275
Mac OS X 10_13_4     0.128526
iOS 11.1.1           0.118536
iOS 11.0.3           0.111593
Android 7.1.1        0.106682
Mac OS X 10_9_5      0.096522
Android 6.0.1        0.095844
iOS 10.3.2           0.072476
iOS 9.3.5            0.070105
Android 5.1.1        0.059268
                      ...
iOS 11.3.1           0.023030
Mac OS X 10.10       0.022860
Windows XP           0.022183
iOS 11.0.1           0.021506
Mac OS X 10_12_4     0.017442
iOS 10.1.1           0.016256
iOS 10.0.2           0.016087
Mac OS X 10_12_3     0.016087
Mac OS X 10_7_5      0.015748
Mac OS X 10_11_5     0.013886
Android 6.0          0.013547
Mac OS X 10_8_5      0.012531
Android 4.4.2        0.010668
Mac OS X 10.9        0.009822
Android 5.0.2        0.009314
Mac OS X 10_11_3     0.009144
Mac OS X 10_11_4     0.008975
Mac OS X 10_6_8      0.008467
Mac OS X 10_12       0.008297
Mac OS X 10.6        0.008297
Mac OS X 10_12_1     0.007451
Android 5.0          0.006943
Android 7.1.2        0.005588
Mac OS X 10_12_2     0.005588
other                0.002540
func                 0.001693
iOS 11.4.0           0.000847
Mac OS X 10_13_5     0.000677
Windows              0.000508
iOS 11.4.1           0.000169
Name: id_30, Length: 76, dtype: float64

In [57]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train.loc[:,'id_30'] = le.fit_transform(train.loc[:,'id_30'])

In [58]:
train['id_31'] = train['id_31'].astype(str)
train['id_31'].replace('nan', np.nan, inplace=True)
train['id_31'].fillna("None",inplace=True)
print(train['id_31'].value_counts(normalize=True,dropna=False)*100)

None                          76.245132
chrome 63.0                    3.725404
mobile safari 11.0             2.273004
mobile safari generic          1.942967
ie 11.0 for desktop            1.529109
safari generic                 1.387713
chrome 62.0                    1.216175
chrome 65.0                    1.163511
chrome 64.0                    1.136418
chrome 63.0 for android        0.983168
chrome generic                 0.809090
chrome 66.0                    0.722051
edge 16.0                      0.709181
chrome 64.0 for android        0.588106
chrome 65.0 for android        0.564907
firefox 57.0                   0.561351
mobile safari 10.0             0.470586
chrome 66.0 for android        0.397772
chrome 62.0 for android        0.355099
edge 15.0                      0.270938
chrome generic for android     0.196092
firefox 59.0                   0.186101
samsung browser 6.2            0.179666
firefox 58.0                   0.141057
chrome 49.0                    0.121753
firefox                        0.113963
ie 11.0 for tablet             0.109561
chrome 61.0                    0.108714
safari 11.0                    0.093135
mobile safari 9.0              0.091611
                                ...
safari                         0.002371
mobile                         0.001863
ZTE/Blade                      0.001524
samsung browser 3.3            0.001355
maxthon                        0.001016
comodo                         0.001016
line                           0.001016
Mozilla/Firefox                0.000847
aol                            0.000847
icedragon                      0.000847
Lanix/Ilium                    0.000508
facebook                       0.000339
waterfox                       0.000339
palemoon                       0.000339
puffin                         0.000339
chromium                       0.000169
iron                           0.000169
BLU/Dash                       0.000169
android                        0.000169
Nokia/Lumia                    0.000169
Cherry                         0.000169
LG/K-200                       0.000169
Samsung/SCH                    0.000169
firefox mobile 61.0            0.000169
chrome 67.0 for android        0.000169
M4Tel/M4                       0.000169
cyberfox                       0.000169
chrome 69.0                    0.000169
Inco/Minion                    0.000169
seamonkey                      0.000169
Name: id_31, Length: 131, dtype: float64

In [59]:
le = LabelEncoder()
train.loc[:,'id_31'] = le.fit_transform(train.loc[:,'id_31'])

In [60]:
train['id_32'].fillna(-999,inplace=True)

In [61]:
train.drop(['id_33'], axis =1, inplace =True)

In [62]:
train['id_34'] = train_copy['id_34']

In [63]:
train.drop(['id_34'], axis=1, inplace=True)

In [64]:
train['id_35'] = train['id_35'].astype(str)
train['id_35'].replace('nan', np.nan, inplace=True)
train['id_35'].fillna("None",inplace=True)
train['id_35'] = train['id_35'].map({'F':0, 'T':1,'None':-999})

In [65]:
train['id_36'] = train['id_36'].astype(str)
train['id_36'].replace('nan', np.nan, inplace=True)
train['id_36'].fillna("None",inplace=True)
train['id_36'] = train['id_36'].map({'F':0, 'T':1,'None':-999})

In [66]:
train['id_37'] = train['id_37'].astype(str)
train['id_37'].replace('nan', np.nan, inplace=True)
train['id_37'].fillna("None",inplace=True)
train['id_37'] = train['id_37'].map({'F':0, 'T':1,'None':-999})

In [67]:
train['id_38'] = train['id_38'].astype(str)
train['id_38'].replace('nan', np.nan, inplace=True)
train['id_38'].fillna("None",inplace=True)
train['id_38'] = train['id_38'].map({'F':0, 'T':1,'None':-999})

In [68]:
train['DeviceType'].value_counts()

desktop    85165
mobile     55645
Name: DeviceType, dtype: int64

In [69]:
train['DeviceType'].isnull().sum()

449730

In [70]:
train['DeviceType'] = train['DeviceType'].astype(str)
train['DeviceType'].replace('nan', np.nan, inplace=True)
train['DeviceType'].fillna("None",inplace=True)
train['DeviceType'] = train['DeviceType'].map({'desktop':1,'mobile':2,'None':999})

In [71]:
train['DeviceType'].isnull().sum()

0

In [72]:
print(train.head())

   TransactionID  TransactionDT  TransactionAmt  ProductCD  card1  card2  \
0        2987000          86400            68.5          1  13926 -999.0
1        2987001          86401            29.0          1   2755  404.0
2        2987002          86469            59.0          1   4663  490.0
3        2987003          86499            50.0          1  18132  567.0
4        2987004          86506            50.0          2   4497  514.0

   card3  card4  card5  card6     ...      id_20  id_29  id_30  id_31  id_32  \
0  150.0      1  142.0      1     ...     -999.0   -999     41     11 -999.0
1  150.0      2  102.0      1     ...     -999.0   -999     41     11 -999.0
2  150.0      3  166.0      2     ...     -999.0   -999     41     11 -999.0
3  150.0      2  117.0      2     ...     -999.0   -999     41     11 -999.0
4  150.0      2  102.0      1     ...      144.0      0      7    124   32.0

   id_35  id_36  id_37  id_38  DeviceType
0   -999   -999   -999   -999         999
1   -999   -999   -999   -999         999
2   -999   -999   -999   -999         999
3   -999   -999   -999   -999         999
4      1      0      1      1           2

[5 rows x 411 columns]

In [73]:
import datetime
Start_Date = '2017-12-01'
startdate = datetime.datetime.strptime(Start_Date, '%Y-%m-%d')
train['TransactionDT'] = train['TransactionDT'].apply(lambda x : startdate + datetime.timedelta(seconds=x))

In [74]:
train.head()

,TransactionID,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,id_20,id_29,id_30,id_31,id_32,id_35,id_36,id_37,id_38,DeviceType
0,2987000,2017-12-02 00:00:00,68.5,1,13926,-999.0,150.0,1,142.0,1,...,-999.0,-999,41,11,-999.0,-999,-999,-999,-999,999
1,2987001,2017-12-02 00:00:01,29.0,1,2755,404.0,150.0,2,102.0,1,...,-999.0,-999,41,11,-999.0,-999,-999,-999,-999,999
2,2987002,2017-12-02 00:01:09,59.0,1,4663,490.0,150.0,3,166.0,2,...,-999.0,-999,41,11,-999.0,-999,-999,-999,-999,999
3,2987003,2017-12-02 00:01:39,50.0,1,18132,567.0,150.0,2,117.0,2,...,-999.0,-999,41,11,-999.0,-999,-999,-999,-999,999
4,2987004,2017-12-02 00:01:46,50.0,2,4497,514.0,150.0,2,102.0,1,...,144.0,0,7,124,32.0,1,0,1,1,2

In [75]:
train['TransactionDT'] = train['TransactionDT'].astype(str)
train=train.join(train['TransactionDT'].str.split(expand=True))

In [76]:
train.head()

,TransactionID,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,id_30,id_31,id_32,id_35,id_36,id_37,id_38,DeviceType,0,1
0,2987000,2017-12-02 00:00:00,68.5,1,13926,-999.0,150.0,1,142.0,1,...,41,11,-999.0,-999,-999,-999,-999,999,2017-12-02,00:00:00
1,2987001,2017-12-02 00:00:01,29.0,1,2755,404.0,150.0,2,102.0,1,...,41,11,-999.0,-999,-999,-999,-999,999,2017-12-02,00:00:01
2,2987002,2017-12-02 00:01:09,59.0,1,4663,490.0,150.0,3,166.0,2,...,41,11,-999.0,-999,-999,-999,-999,999,2017-12-02,00:01:09
3,2987003,2017-12-02 00:01:39,50.0,1,18132,567.0,150.0,2,117.0,2,...,41,11,-999.0,-999,-999,-999,-999,999,2017-12-02,00:01:39
4,2987004,2017-12-02 00:01:46,50.0,2,4497,514.0,150.0,2,102.0,1,...,7,124,32.0,1,0,1,1,2,2017-12-02,00:01:46

In [77]:
train.rename(columns={0:'Date', 1: 'Time'}, inplace=True)

In [78]:
train.head()

,TransactionID,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,id_30,id_31,id_32,id_35,id_36,id_37,id_38,DeviceType,Date,Time
0,2987000,2017-12-02 00:00:00,68.5,1,13926,-999.0,150.0,1,142.0,1,...,41,11,-999.0,-999,-999,-999,-999,999,2017-12-02,00:00:00
1,2987001,2017-12-02 00:00:01,29.0,1,2755,404.0,150.0,2,102.0,1,...,41,11,-999.0,-999,-999,-999,-999,999,2017-12-02,00:00:01
2,2987002,2017-12-02 00:01:09,59.0,1,4663,490.0,150.0,3,166.0,2,...,41,11,-999.0,-999,-999,-999,-999,999,2017-12-02,00:01:09
3,2987003,2017-12-02 00:01:39,50.0,1,18132,567.0,150.0,2,117.0,2,...,41,11,-999.0,-999,-999,-999,-999,999,2017-12-02,00:01:39
4,2987004,2017-12-02 00:01:46,50.0,2,4497,514.0,150.0,2,102.0,1,...,7,124,32.0,1,0,1,1,2,2017-12-02,00:01:46

In [79]:
train.drop(['TransactionDT'], inplace=True, axis=1)

In [80]:
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

Dates = train['Date']
c = calendar()
holidays = c.holidays(start=Dates.min(), end=Dates.max())
train['isHoliday'] = train['Date'].apply(lambda x: 1 if x in holidays else 0)

In [81]:
train.head()

,TransactionID,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,...,id_31,id_32,id_35,id_36,id_37,id_38,DeviceType,Date,Time,isHoliday
0,2987000,68.5,1,13926,-999.0,150.0,1,142.0,1,315.0,...,11,-999.0,-999,-999,-999,-999,999,2017-12-02,00:00:00,0
1,2987001,29.0,1,2755,404.0,150.0,2,102.0,1,325.0,...,11,-999.0,-999,-999,-999,-999,999,2017-12-02,00:00:01,0
2,2987002,59.0,1,4663,490.0,150.0,3,166.0,2,330.0,...,11,-999.0,-999,-999,-999,-999,999,2017-12-02,00:01:09,0
3,2987003,50.0,1,18132,567.0,150.0,2,117.0,2,476.0,...,11,-999.0,-999,-999,-999,-999,999,2017-12-02,00:01:39,0
4,2987004,50.0,2,4497,514.0,150.0,2,102.0,1,420.0,...,124,32.0,1,0,1,1,2,2017-12-02,00:01:46,0

In [82]:
train['isHoliday'].value_counts(normalize=True)*100

0    97.355133
1     2.644867
Name: isHoliday, dtype: float64

In [83]:
TransactionID = train['TransactionID']
train.drop(['TransactionID', 'Date', 'Time'], inplace = True, axis = 1)

In [84]:
train.head()

,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,...,id_29,id_30,id_31,id_32,id_35,id_36,id_37,id_38,DeviceType,isHoliday
0,68.5,1,13926,-999.0,150.0,1,142.0,1,315.0,87.0,...,-999,41,11,-999.0,-999,-999,-999,-999,999,0
1,29.0,1,2755,404.0,150.0,2,102.0,1,325.0,87.0,...,-999,41,11,-999.0,-999,-999,-999,-999,999,0
2,59.0,1,4663,490.0,150.0,3,166.0,2,330.0,87.0,...,-999,41,11,-999.0,-999,-999,-999,-999,999,0
3,50.0,1,18132,567.0,150.0,2,117.0,2,476.0,87.0,...,-999,41,11,-999.0,-999,-999,-999,-999,999,0
4,50.0,2,4497,514.0,150.0,2,102.0,1,420.0,87.0,...,0,7,124,32.0,1,0,1,1,2,0

In [85]:
for col in train.columns:
    print(col,train[col].isnull().sum())

TransactionAmt 0
ProductCD 0
card1 0
card2 0
card3 0
card4 0
card5 0
card6 0
addr1 0
addr2 0
dist1 0
dist2 0
P_emaildomain 0
R_emaildomain 0
C1 0
C2 0
C3 0
C4 0
C5 0
C6 0
C7 0
C8 0
C9 0
C10 0
C11 0
C12 0
C13 0
C14 0
D1 0
D2 0
D3 0
D4 0
D5 0
D6 0
D7 0
D8 0
D9 0
D10 0
D11 0
D12 0
D13 0
D14 0
D15 0
M1 0
M2 0
M3 0
M4 0
M5 0
M6 0
M7 0
M8 0
M9 0
V1 0
V2 0
V3 0
V4 0
V5 0
V6 0
V7 0
V8 0
V9 0
V10 0
V11 0
V12 0
V13 0
V14 0
V15 0
V16 0
V17 0
V18 0
V19 0
V20 0
V21 0
V22 0
V23 0
V24 0
V25 0
V26 0
V27 0
V28 0
V29 0
V30 0
V31 0
V32 0
V33 0
V34 0
V35 0
V36 0
V37 0
V38 0
V39 0
V40 0
V41 0
V42 0
V43 0
V44 0
V45 0
V46 0
V47 0
V48 0
V49 0
V50 0
V51 0
V52 0
V53 0
V54 0
V55 0
V56 0
V57 0
V58 0
V59 0
V60 0
V61 0
V62 0
V63 0
V64 0
V65 0
V66 0
V67 0
V68 0
V69 0
V70 0
V71 0
V72 0
V73 0
V74 0
V75 0
V76 0
V77 0
V78 0
V79 0
V80 0
V81 0
V82 0
V83 0
V84 0
V85 0
V86 0
V87 0
V88 0
V89 0
V90 0
V91 0
V92 0
V93 0
V94 0
V95 0
V96 0
V97 0
V98 0
V99 0
V100 0
V101 0
V102 0
V103 0
V104 0
V105 0
V106 0
V107 0
V108 0
V109 0
V110 0
V111 0
V112 0
V113 0
V114 0
V115 0
V116 0
V117 0
V118 0
V119 0
V120 0
V121 0
V122 0
V123 0
V124 0
V125 0
V126 0
V127 0
V128 0
V129 0
V130 0
V131 0
V132 0
V133 0
V134 0
V135 0
V136 0
V137 0
V138 0
V139 0
V140 0
V141 0
V142 0
V143 0
V144 0
V145 0
V146 0
V147 0
V148 0
V149 0
V150 0
V151 0
V152 0
V153 0
V154 0
V155 0
V156 0
V157 0
V158 0
V159 0
V160 0
V161 0
V162 0
V163 0
V164 0
V165 0
V166 0
V167 0
V168 0
V169 0
V170 0
V171 0
V172 0
V173 0
V174 0
V175 0
V176 0
V177 0
V178 0
V179 0
V180 0
V181 0
V182 0
V183 0
V184 0
V185 0
V186 0
V187 0
V188 0
V189 0
V190 0
V191 0
V192 0
V193 0
V194 0
V195 0
V196 0
V197 0
V198 0
V199 0
V200 0
V201 0
V202 0
V203 0
V204 0
V205 0
V206 0
V207 0
V208 0
V209 0
V210 0
V211 0
V212 0
V213 0
V214 0
V215 0
V216 0
V217 0
V218 0
V219 0
V220 0
V221 0
V222 0
V223 0
V224 0
V225 0
V226 0
V227 0
V228 0
V229 0
V230 0
V231 0
V232 0
V233 0
V234 0
V235 0
V236 0
V237 0
V238 0
V239 0
V240 0
V241 0
V242 0
V243 0
V244 0
V245 0
V246 0
V247 0
V248 0
V249 0
V250 0
V251 0
V252 0
V253 0
V254 0
V255 0
V256 0
V257 0
V258 0
V259 0
V260 0
V261 0
V262 0
V263 0
V264 0
V265 0
V266 0
V267 0
V268 0
V269 0
V270 0
V271 0
V272 0
V273 0
V274 0
V275 0
V276 0
V277 0
V278 0
V279 0
V280 0
V281 0
V282 0
V283 0
V284 0
V285 0
V286 0
V287 0
V288 0
V289 0
V290 0
V291 0
V292 0
V293 0
V294 0
V295 0
V296 0
V297 0
V298 0
V299 0
V300 0
V301 0
V302 0
V303 0
V304 0
V305 0
V306 0
V307 0
V308 0
V309 0
V310 0
V311 0
V312 0
V313 0
V314 0
V315 0
V316 0
V317 0
V318 0
V319 0
V320 0
V321 0
V322 0
V323 0
V324 0
V325 0
V326 0
V327 0
V328 0
V329 0
V330 0
V331 0
V332 0
V333 0
V334 0
V335 0
V336 0
V337 0
V338 0
V339 0
id_12 0
id_13 0
id_14 0
id_15 0
id_16 0
id_17 0
id_18 0
id_19 0
id_20 0
id_29 0
id_30 0
id_31 0
id_32 0
id_35 0
id_36 0
id_37 0
id_38 0
DeviceType 0
isHoliday 0

In [86]:
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test=train_test_split(train,Fraud_list,test_size=0.3)

In [87]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
train_scaled = sc.fit_transform(train)

In [88]:
from sklearn.model_selection import train_test_split
X_train_s,X_test_s,Y_train,Y_test=train_test_split(train_scaled,Fraud_list,test_size=0.3)

In [89]:
X_train_s.shape

(413378, 410)

In [90]:
from sklearn.metrics import accuracy_score

In [91]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 5)
X_train_pca = pca.fit_transform(X_train_s)
X_test_pca = pca.transform(X_test_s)

In [92]:
X_train_pca.shape

(413378, 5)

In [93]:
#from sklearn.svm import SVC


#svc_classifier = SVC(kernel='rbf', class_weight={0 : 96.6, 1 : 3.4}, probability = True, C=10, gamma = 'auto')
#svc_classifier.fit(X_train_pca, Y_train)
#y_pred = svc_classifier.predict(X_test_pca)

In [94]:
from sklearn.tree import DecisionTreeClassifier

In [95]:
classifier_DTree = DecisionTreeClassifier(criterion='entropy', class_weight={0:96.6, 1:3.4})
classifier_DTree.fit(X_train, Y_train)
y_pred = classifier_DTree.predict(X_test)

In [96]:
a = accuracy_score(y_pred, Y_test)
print(a*100)

92.09254806335444

In [97]:
from sklearn.ensemble import RandomForestClassifier

/Users/nilanjansahu/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [98]:
classifier_RF = RandomForestClassifier(criterion='entropy')
classifier_RF.fit(X_train, Y_train)
y_pred = classifier_RF.predict(X_test)

In [99]:
a = accuracy_score(y_pred, Y_test)
print(a*100)

96.42474119732223

In [100]:
classifier_RF_pca = RandomForestClassifier(criterion='entropy')
classifier_RF_pca.fit(X_train_pca, Y_train)
y_pred = classifier_RF_pca.predict(X_test_pca)

In [101]:
a = accuracy_score(y_pred, Y_test)
print(a*100)

96.92428398866574

In [102]:
from sklearn.ensemble import AdaBoostClassifier

In [103]:
from xgboost import XGBClassifier
classifier_XGB=XGBClassifier()
classifier_XGB.fit(X_train,Y_train)

y_pred=classifier_XGB.predict(X_test)

/Users/nilanjansahu/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [104]:
a = accuracy_score(y_pred, Y_test)
print(a*100)

96.46255969113015

In [105]:
classifier_scaled=XGBClassifier()
classifier_scaled.fit(X_train_s,Y_train)
y_pred=classifier_scaled.predict(X_test_s)

/Users/nilanjansahu/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [106]:
a = accuracy_score(y_pred, Y_test)
print(a*100)

97.34198078594733

In [107]:
classifier_XGB_pca=XGBClassifier()
classifier_XGB_pca.fit(X_train_pca,Y_train)
y_pred = classifier_XGB_pca.predict(X_test_pca)

/Users/nilanjansahu/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [108]:
a = accuracy_score(y_pred, Y_test)
print(a*100)

96.79502376356103

In [109]:
test['ProductCD']=test['ProductCD'].map({'W':1,'H':2,'C':3,'S':4,'R':5})

In [110]:
test['card1'].fillna(-999,inplace=True)
test['card2'].fillna(-999,inplace=True)
test['card3'].fillna(-999,inplace=True)
test['card5'].fillna(-999,inplace=True)

In [111]:
test['card4'] = test['card4'].astype(str)
test['card4'].replace('nan', np.nan, inplace=True)
test['card4'].fillna("No Card", inplace=True)
types_of_card=[]
for i in range(len(test['card4'])):
    if(test.loc[i,'card4'] not in types_of_card):
        types_of_card.append(test.loc[i,'card4'])
test['card4']=test['card4'].map({'discover':1,'mastercard':2,'visa':3,'american express':4,'No Card':-999})

In [112]:
test['card6'] = test['card6'].astype(str)
test['card6'].replace('nan', np.nan, inplace=True)
test['card6'].fillna("No Card",inplace=True)
card_types=[]
for i in range(len(test['card6'])):
    if(test.loc[i,'card6'] not in card_types):
        card_types.append(test.loc[i,'card6'])

card_types

['debit', 'credit', 'No Card', 'charge card']

In [113]:
test['card6']=test['card6'].map({'credit':1,'debit':2,'No Card':-999,'debit or credit':3,'charge card':4})

In [114]:
test['addr1'].fillna(-999,inplace=True)
test['addr2'].fillna(-999,inplace=True)
test['dist1'].fillna(-999,inplace=True)
test['dist2'].fillna(-999,inplace=True)

In [115]:
from sklearn.preprocessing import Imputer
imp = Imputer(missing_values='NaN', strategy = 'most_frequent', axis=0)
imp = imp.fit(test.loc[:,'C1':'C4'])
test.loc[:,'C1':'C4'] = imp.transform(test.loc[:,'C1':'C4'])

In [116]:
imp=Imputer(missing_values='NaN',strategy='most_frequent',axis=0)
imp=imp.fit(test.loc[:,'D1':'D15'])
test.loc[:,'D1':'D15']=imp.transform(test.loc[:,'D1':'D15'])

In [117]:
test['M1'] = test['M1'].astype(str)
test['M1'].replace('nan', np.nan, inplace=True)
test['M1'].fillna("No Type",inplace=True)
test['M2'] = test['M2'].astype(str)
test['M2'].replace('nan', np.nan, inplace=True)
test['M2'].fillna("No Type",inplace=True)
test['M3'] = test['M3'].astype(str)
test['M3'].replace('nan', np.nan, inplace=True)
test['M3'].fillna("No Type",inplace=True)

In [118]:
test['M5'] = test['M5'].astype(str)
test['M5'].replace('nan', np.nan, inplace=True)
test['M5'].fillna("No Type",inplace=True)
test['M6'] = test['M6'].astype(str)
test['M6'].replace('nan', np.nan, inplace=True)
test['M6'].fillna("No Type",inplace=True)
test['M7'] = test['M7'].astype(str)
test['M7'].replace('nan', np.nan, inplace=True)
test['M7'].fillna("No Type",inplace=True)
test['M8'] = test['M8'].astype(str)
test['M8'].replace('nan', np.nan, inplace=True)
test['M8'].fillna("No Type",inplace=True)
test['M9'] = test['M9'].astype(str)
test['M9'].replace('nan', np.nan, inplace=True)
test['M9'].fillna("No Type",inplace=True)

In [119]:
test['M1']=test['M1'].map({'T':1,'F':0,'No Type':-999})
test['M2']=test['M2'].map({'T':1,'F':0,'No Type':-999})
test['M3']=test['M3'].map({'T':1,'F':0,'No Type':-999})
test['M5']=test['M5'].map({'T':1,'F':0,'No Type':-999})
test['M6']=test['M6'].map({'T':1,'F':0,'No Type':-999})
test['M7']=test['M7'].map({'T':1,'F':0,'No Type':-999})
test['M8']=test['M8'].map({'T':1,'F':0,'No Type':-999})
test['M9']=test['M9'].map({'T':1,'F':0,'No Type':-999})

In [120]:
imp = Imputer(missing_values = 'NaN', strategy = 'most_frequent', axis = 0)
test['P_emaildomain'] = test['P_emaildomain'].astype(str)
test['R_emaildomain'] = test['R_emaildomain'].astype(str)
test['P_emaildomain'].replace('nan', np.nan, inplace=True)
test['R_emaildomain'].replace('nan', np.nan, inplace=True)
test['P_emaildomain'].fillna('no_mail', inplace=True)
test['R_emaildomain'].fillna('no_mail', inplace=True)

In [121]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
test.loc[:,'P_emaildomain'] = le.fit_transform(test.loc[:,'P_emaildomain'])

In [122]:
le = LabelEncoder()
test.loc[:,'R_emaildomain'] = le.fit_transform(test.loc[:,'R_emaildomain'])

In [123]:
test['M4'] = test['M4'].astype(str)
test['M4'].replace('nan', np.nan, inplace=True)
test['M4'].fillna("No Type",inplace=True)
M4_list=[]
for i in range(len(test['M4'])):
    if(test.loc[i,'M4'] not in M4_list):
        M4_list.append(test.loc[i,'M4'])
M4_list

['No Type', 'M0', 'M1', 'M2']

In [124]:
test['M4']=test['M4'].map({'M0':0,'M1':1,'M2':2,'No Type':-999})

In [125]:
for i in range(1,340):
    test[str('V'+str(i))].replace('nan', np.nan, inplace=True)

In [126]:
imp=Imputer(missing_values='NaN',strategy='most_frequent',axis=0)
imp=imp.fit(test.loc[:,'V1':'V339'])
test.loc[:,'V1':'V339']=imp.transform(test.loc[:,'V1':'V339'])

In [127]:
test.drop(['id_01','id_02','id_03','id_04','id_05','id_06','id_07','id_08','id_09','id_10','id_11','DeviceInfo'], inplace=True, axis=1)

In [128]:
test['id_12'] = test['id_12'].astype(str)
test['id_12'].replace('nan', np.nan, inplace=True)
test['id_12'].fillna("None",inplace=True)
test['id_12'] = test['id_12'].map({'Found' :1, 'NotFound': 0, 'None': -999})
test['id_13'].fillna(-999,inplace=True)
test['id_14'].fillna(-999,inplace=True)
test['id_15'] = test['id_15'].astype(str)
test['id_15'].replace('nan', np.nan, inplace = True)
test['id_15'].fillna('None', inplace = True)
test['id_15'] = test['id_15'].map({'Unknown':0, 'New':2, 'Found':1,'None':-999})
test['id_16'] = test['id_16'].astype(str)
test['id_16'].replace('nan', np.nan, inplace = True)
test['id_16'].fillna('None', inplace = True)
test['id_16'] = test['id_16'].map({'Found':1, 'NotFound':0 ,'None':-999})
test['id_17'].fillna(-999,inplace=True)
test['id_18'].fillna(-999,inplace=True)
test['id_19'].fillna(-999,inplace=True)
test['id_20'].fillna(-999,inplace=True)

In [129]:
test.drop(['id_21','id_22','id_23','id_24','id_25','id_26','id_27','id_28'], inplace=True, axis=1)

In [130]:
test['id_29'] = test['id_29'].astype(str)
test['id_29'].replace('nan', np.nan, inplace=True)
test['id_29'].fillna("None",inplace=True)
test['id_29'] = test['id_29'].map({'Found':1, 'NotFound':0,'None':-999})
test['id_30'] = test['id_30'].astype(str)
test['id_30'].replace('nan', np.nan, inplace=True)
test['id_30'].fillna("None",inplace=True)

In [133]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
test.loc[:,'id_30'] = le.fit_transform(test.loc[:,'id_30'])

In [135]:
test['id_31'].isnull().sum()

370066

In [140]:
test['id_31'] = test['id_31'].astype(str)
test['id_31'].replace('nan', np.nan, inplace=True)
test['id_31'].fillna("None",inplace=True)

In [142]:
le1 = LabelEncoder()
test.loc[:,'id_31'] = le1.fit_transform(test.loc[:,'id_31'])

In [143]:
test['id_32'].fillna(-999,inplace=True)
test.drop(['id_33'], axis =1, inplace =True)
test.drop(['id_34'], axis=1, inplace=True)
test['id_35'] = test['id_35'].astype(str)
test['id_35'].replace('nan', np.nan, inplace=True)
test['id_35'].fillna("None",inplace=True)
test['id_35'] = test['id_35'].map({'F':0, 'T':1,'None':-999})
test['id_36'] = test['id_36'].astype(str)
test['id_36'].replace('nan', np.nan, inplace=True)
test['id_36'].fillna("None",inplace=True)
test['id_36'] = test['id_36'].map({'F':0, 'T':1,'None':-999})
test['id_37'] = test['id_37'].astype(str)
test['id_37'].replace('nan', np.nan, inplace=True)
test['id_37'].fillna("None",inplace=True)
test['id_37'] = test['id_37'].map({'F':0, 'T':1,'None':-999})
test['id_38'] = test['id_38'].astype(str)
test['id_38'].replace('nan', np.nan, inplace=True)
test['id_38'].fillna("None",inplace=True)
test['id_38'] = test['id_38'].map({'F':0, 'T':1,'None':-999})
test['DeviceType'] = test['DeviceType'].astype(str)
test['DeviceType'].replace('nan', np.nan, inplace=True)
test['DeviceType'].fillna("None",inplace=True)
test['DeviceType'] = test['DeviceType'].map({'desktop':1,'mobile':2,'None':999})

In [144]:
import datetime

Start_Date = '2017-12-01'
startdate = datetime.datetime.strptime(Start_Date, '%Y-%m-%d')
test['TransactionDT'] = test['TransactionDT'].apply(lambda x : startdate + datetime.timedelta(seconds=x))
test['TransactionDT'] = test['TransactionDT'].astype(str)
test=test.join(test['TransactionDT'].str.split(expand=True))
test.rename(columns={0:'Date', 1: 'Time'}, inplace=True)

In [166]:
TransactionID = test['TransactionID']

In [167]:
test.drop(['TransactionID', 'TransactionDT'], inplace = True, axis = 1)

In [146]:
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

Dates = test['Date']
c = calendar()
holidays = c.holidays(start=Dates.min(), end=Dates.max())
test['isHoliday'] = test['Date'].apply(lambda x: 1 if x in holidays else 0)
test['isHoliday'].value_counts(normalize=True)*100
test.drop(['Date', 'Time'], inplace = True, axis = 1)

In [170]:
test.head()

,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,...,id_29,id_30,id_31,id_32,id_35,id_36,id_37,id_38,DeviceType,isHoliday
0,31.953125,1,10409,111.0,150.0,3,226.0,2,170.0,87.0,...,-999,47,0,-999.0,-999,-999,-999,-999,999,0
1,49.000000,1,4272,111.0,150.0,3,226.0,2,299.0,87.0,...,-999,47,0,-999.0,-999,-999,-999,-999,999,0
2,171.000000,1,4476,574.0,150.0,3,226.0,2,472.0,87.0,...,-999,47,0,-999.0,-999,-999,-999,-999,999,0
3,285.000000,1,10989,360.0,150.0,3,166.0,2,205.0,87.0,...,-999,47,0,-999.0,-999,-999,-999,-999,999,0
4,67.937500,1,18018,452.0,150.0,2,117.0,2,264.0,87.0,...,-999,47,0,-999.0,-999,-999,-999,-999,999,0

In [152]:
for col in test.columns:
    print(col,test[col].isnull().sum())

TransactionDT 0
TransactionAmt 0
ProductCD 0
card1 0
card2 0
card3 0
card4 0
card5 0
card6 0
addr1 0
addr2 0
dist1 0
dist2 0
P_emaildomain 0
R_emaildomain 0
C1 0
C2 0
C3 0
C4 0
C5 3
C6 3
C7 3
C8 3
C9 3
C10 3
C11 3
C12 3
C13 4748
C14 3
D1 0
D2 0
D3 0
D4 0
D5 0
D6 0
D7 0
D8 0
D9 0
D10 0
D11 0
D12 0
D13 0
D14 0
D15 0
M1 0
M2 0
M3 0
M4 0
M5 0
M6 0
M7 0
M8 0
M9 0
V1 0
V2 0
V3 0
V4 0
V5 0
V6 0
V7 0
V8 0
V9 0
V10 0
V11 0
V12 0
V13 0
V14 0
V15 0
V16 0
V17 0
V18 0
V19 0
V20 0
V21 0
V22 0
V23 0
V24 0
V25 0
V26 0
V27 0
V28 0
V29 0
V30 0
V31 0
V32 0
V33 0
V34 0
V35 0
V36 0
V37 0
V38 0
V39 0
V40 0
V41 0
V42 0
V43 0
V44 0
V45 0
V46 0
V47 0
V48 0
V49 0
V50 0
V51 0
V52 0
V53 0
V54 0
V55 0
V56 0
V57 0
V58 0
V59 0
V60 0
V61 0
V62 0
V63 0
V64 0
V65 0
V66 0
V67 0
V68 0
V69 0
V70 0
V71 0
V72 0
V73 0
V74 0
V75 0
V76 0
V77 0
V78 0
V79 0
V80 0
V81 0
V82 0
V83 0
V84 0
V85 0
V86 0
V87 0
V88 0
V89 0
V90 0
V91 0
V92 0
V93 0
V94 0
V95 0
V96 0
V97 0
V98 0
V99 0
V100 0
V101 0
V102 0
V103 0
V104 0
V105 0
V106 0
V107 0
V108 0
V109 0
V110 0
V111 0
V112 0
V113 0
V114 0
V115 0
V116 0
V117 0
V118 0
V119 0
V120 0
V121 0
V122 0
V123 0
V124 0
V125 0
V126 0
V127 0
V128 0
V129 0
V130 0
V131 0
V132 0
V133 0
V134 0
V135 0
V136 0
V137 0
V138 0
V139 0
V140 0
V141 0
V142 0
V143 0
V144 0
V145 0
V146 0
V147 0
V148 0
V149 0
V150 0
V151 0
V152 0
V153 0
V154 0
V155 0
V156 0
V157 0
V158 0
V159 0
V160 0
V161 0
V162 0
V163 0
V164 0
V165 0
V166 0
V167 0
V168 0
V169 0
V170 0
V171 0
V172 0
V173 0
V174 0
V175 0
V176 0
V177 0
V178 0
V179 0
V180 0
V181 0
V182 0
V183 0
V184 0
V185 0
V186 0
V187 0
V188 0
V189 0
V190 0
V191 0
V192 0
V193 0
V194 0
V195 0
V196 0
V197 0
V198 0
V199 0
V200 0
V201 0
V202 0
V203 0
V204 0
V205 0
V206 0
V207 0
V208 0
V209 0
V210 0
V211 0
V212 0
V213 0
V214 0
V215 0
V216 0
V217 0
V218 0
V219 0
V220 0
V221 0
V222 0
V223 0
V224 0
V225 0
V226 0
V227 0
V228 0
V229 0
V230 0
V231 0
V232 0
V233 0
V234 0
V235 0
V236 0
V237 0
V238 0
V239 0
V240 0
V241 0
V242 0
V243 0
V244 0
V245 0
V246 0
V247 0
V248 0
V249 0
V250 0
V251 0
V252 0
V253 0
V254 0
V255 0
V256 0
V257 0
V258 0
V259 0
V260 0
V261 0
V262 0
V263 0
V264 0
V265 0
V266 0
V267 0
V268 0
V269 0
V270 0
V271 0
V272 0
V273 0
V274 0
V275 0
V276 0
V277 0
V278 0
V279 0
V280 0
V281 0
V282 0
V283 0
V284 0
V285 0
V286 0
V287 0
V288 0
V289 0
V290 0
V291 0
V292 0
V293 0
V294 0
V295 0
V296 0
V297 0
V298 0
V299 0
V300 0
V301 0
V302 0
V303 0
V304 0
V305 0
V306 0
V307 0
V308 0
V309 0
V310 0
V311 0
V312 0
V313 0
V314 0
V315 0
V316 0
V317 0
V318 0
V319 0
V320 0
V321 0
V322 0
V323 0
V324 0
V325 0
V326 0
V327 0
V328 0
V329 0
V330 0
V331 0
V332 0
V333 0
V334 0
V335 0
V336 0
V337 0
V338 0
V339 0
id_12 0
id_13 0
id_14 0
id_15 0
id_16 0
id_17 0
id_18 0
id_19 0
id_20 0
id_29 0
id_30 0
id_31 0
id_32 0
id_35 0
id_36 0
id_37 0
id_38 0
DeviceType 0
isHoliday 0

In [160]:
test['C5'].fillna(test['C5'].mode()[0],inplace=True)

In [162]:
test['C6'].fillna(test['C6'].mode()[0],inplace=True)
test['C7'].fillna(test['C7'].mode()[0],inplace=True)
test['C8'].fillna(test['C8'].mode()[0],inplace=True)
test['C9'].fillna(test['C9'].mode()[0],inplace=True)
test['C10'].fillna(test['C10'].mode()[0],inplace=True)
test['C11'].fillna(test['C11'].mode()[0],inplace=True)
test['C12'].fillna(test['C12'].mode()[0],inplace=True)
test['C13'].fillna(test['C13'].mode()[0],inplace=True)
test['C14'].fillna(test['C14'].mode()[0],inplace=True)

In [168]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
test_scaled = sc.fit_transform(test)

In [169]:
test_pred = classifier_scaled.predict(test_scaled)

/Users/nilanjansahu/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [181]:
submission = [TransactionID, test_pred]